{% extends "layout.html" %}

{% block title %}
About us
{% endblock %}

{% block main %}

  <div class="row">
    <div class="head-myprofile col-5">
      <h1 style="font-size: 48px; margin-bottom: 20px;">About us</h1>
    </div>
  </div>
  <div>
    <img
      src="/static/Logo.png"
      alt="Logo"
      style="margin-right: 50%;"
      width="300"
      height="300"
    />
  </div>

  <div class="row">
    <div class="head-myprofile col-5">
      <h1 style="font-size: 48px; margin-bottom: 20px; padding-left: 2%;text-indent:40px;">Contact us</h1>
    </div>
  </div>


  
{% endblock %}