{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}


<form>
  <div class="main-banner mb-lg-5">
    <div class="container-content">
      <div class="overlay d-flex flex-column">
        <h1 class="mb-0"> Viva La Vida</h1>
        <h2 class="mb-0">More than a celebration It's life</h2>
      </div>
    </div>
  </div>

  <div class="welcome">
    <div class="overlay-welcome"></div>
    <div class="d-flex flex-column top-text">
      <span class="topic">Welcome to Bibere!</span>
      <span class="sub-topic">An open source platform for Tea and coffe lovers.</span>
      <div>
        <button class="btn-order"><a href="#">ORDER NOW!</a></button>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-start">
    <span class="head-topic mt-lg-4">Recommended</span>
  </div>

</form>



  
{% endblock %}