{% extends "layout.html" %} {% block title %} Seller orders {% endblock %} {%
block main %}

<form action="/edit_profile_seller" method="get" name="form">
  <div class="row">
    <div class="head-myprofile">
      <h1 style="font-size: 3vw; margin-bottom: 20px">my information</h1>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-3">
          <div style="display: inline-block; text-align: center">
            <div>
              <img
                src="/static/profile/{{picture}}"
                class="strock rounded-circle mx-auto d-block image-profile"
                alt="Profile Picture"
                style="text-align: center"
              />
            </div>
            <div>
              <h2 style="font-size: 2vw; text-align: center; margin-top: 20px">
                {{name}}
              </h2>
            </div>
            <div style="display: inline-block; text-align: left">
              <div><h4>Bangkok</h4></div>
              <div>
                <h4>Status: <span class="active">Active</span></h4>
              </div>
            </div>
          </div>

          <div style="padding-top: 20px; font-family: 'Timmana', sans-serif">
            <a class="menu-style" href="/profile"><h5 href="">My Information</h5></a>
            <a class="menu-style" href="#"><h5>My Orders</h5></a>
            <a class="menu-style" href="/profile_display_seller_product"><h5>My products</h5></a>
            <a class="menu-style" href="/seller_point"><h5>Points</h5></a>
          </div>
        </div>

        <div class="col-9" style="margin-top: 30px">
          <div class="frame-line">
            <div>
              <h2 class="head-name" style="font-size: 48px">{{name}}</h2>
            </div>
            <div style="text-align: left">
              <div class="mb-content">
                <div>
                  <h3>My order</h3>
                </div>
                  <table style="width:100%">
                    <tr>
                      <th>No.</th>
                      <th>Customer</th>
                      <th>Product</th>
                      <th>Date orders</th>
                      <th>Status</th>
                      <th>Payment</th>
                      <th>Price</th>
                    </tr>
                      {%for i in order %}
                    <tr>
                      <td>{{loop.index}}</td>
                      <td>{{i[0]}}</td>
                      <td>{{i[1]}}</td>
                      <td>{{i[2]}}</td>
                      <td>{{i[3]}}</td>
                      <td>{{i[4]}}</td>
                      <td>{{i[5]}}</td>
                    </tr>
                    {% endfor %}
                  
                    
                  </table>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

{% endblock %}
