{% extends "layout.html" %} {% block title %} Buyer Profile {% endblock %} {%
block main %}

<form action="/edit_profile_buyer" method="GET" name="form">
  <div class="row">
    <div class="head-myprofile col-lg-5">
      <h1>my profile</h1>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div style="display: inline-block; text-align: center">
            <div>
              <img
                src="/static/profile/{{picture}}"
                class="strock rounded-circle mx-auto d-block image-profile"
                alt="Profile Picture"
                style="text-align: center"
                width="150"
                height="150"
              />
            </div>
            <div>
              <h2 style="font-size: 32px; text-align: center; margin-top: 20px">
                {{f}} {{l}}
              </h2>
            </div>
            <div style="display: inline-block; text-align: left">
              <div><h4>DOB: {{d}}</h4></div>
              <div><h4>Age: {{age}}</h4></div>
              <div>
                <h4>Status: <span class="active">Active</span></h4>
              </div>
            </div>
          </div>

          <div style="padding-top: 20px; font-family: 'Timmana', sans-serif">
            <a class="menu-style" href="#"><h5 href="">My Profile</h5></a>
            <a class="menu-style" href="/profile_display_buyer_favorite"><h5>My Favorite</h5></a>
            <a class="menu-style" href="/profile_display_buyer_order"><h5>My Orders</h5></a>
            <a class="menu-style" href="/profile_display_buyer_cafeHis"><h5>Cafes History</h5></a>
            <a class="menu-style" href="/profile_display_buyer_point"><h5>My Points</h5></a>
          </div>
        </div>

        <div class="col-lg-9" style="margin-top: 30px">
          <div class="frame-line">
            <div>
              <h2 class="head-name">Information</h2>
            </div>
            <div style="text-align: left">
              <div class="mb-content ml-lg-3">
                <div class="row d-flex justify-content-center align">
                  <div class="col-lg-2">
                    <span class="mb-details">Email:</span>
                  </div>
                  <div class="col-lg-10 col-sm-12 mb-lg-3">
                    <div class="tag">
                      <span>{{m}}</span>
                    </div>
                  </div>

                  <div class="col-lg-2">
                    <span class="mb-details">Country: </span>
                  </div>
                  <div class="col-lg-10 col-sm-12 mb-lg-3">
                    <div class="tag">
                      <span>Thailand</span>
                    </div>
                  </div>

                  <div class="col-lg-2">
                    <span class="mb-details">Sickness: </span>
                  </div>
                  <div class="col-lg-10 col-sm-12 mb-lg-3">
                    <div class="tag">
                      <span>{{s}}</span>
                    </div>
                  </div>

                  <div class="col-lg-2">
                    <span class="mb-details">Occupation: </span>
                  </div>
                  <div class="col-lg-10 col-sm-12 mb-lg-3">
                    <div class="tag">
                      <span>{{oc}}</span>
                    </div>
                  </div>

                  <div class="col-lg-2">
                    <span class="mb-details">Description: </span>
                  </div>
                  <div class="col-lg-10 col-sm-12 mb-lg-3">
                    <div class="tag">
                      <span>{{desc}}</span>
                    </div>
                  </div>
                </div>

                <!-- <div><p class="mb-details">Email address: <span class="tag"> {{m}}</span></p></div>
                <div><p class="mb-details">Country: <span class="tag"> Thailand</span></p></div>
                <div><p class="mb-details">Sickness: <span class="tag"> {{s}}</span></p></div>
                <div><p class="mb-details">Occupation: <span class="tag"> {{oc}}</span></p></div>
                <div d-lg-flex flex-lg-row flex-column>
                  <p class="mb-details">
                    Favorite: <span class="tag"> {{fav}} </span>
                  </p>
                </div>
                <div d-lg-flex flex-lg-column flex-row>
                  <p class="mb-details"> Description: </p>
                  <span class="tag"> {{desc}} </span>
                  
                </div> -->
              </div>

              <div class="d-md-flex flex-lg-row flex-column align-items-center">

                <div class="line-stroke">
                  <div class="beverages d-flex justify-content-center align-items-center">
                    <div class="icon active-score"><img src="/static/coffee.svg" alt="Beverages"></div>
                    <div class="icon active-score"><img src="/static/coffee.svg" alt="Beverages"></div>
                    <div class="icon active-score"><img src="/static/coffee.svg" alt="Beverages"></div>
                    <div class="icon"><img src="/static/coffee.svg" alt="Beverages"></div>
                    <div class="icon"><img src="/static/coffee.svg" alt="Beverages"></div>
                    <div class="icon"><img src="/static/coffee.svg" alt="Beverages"></div>
                  </div>
                  <div class="score">
                    <span class="type-score">Beverages Scores</span>
                  </div>
                </div>
                
                <div class="line-stroke">
                  <div class="beverages d-flex justify-content-center align-items-center">
                    <div class="icon active-score"><img src="/static/sign.svg" alt="Beverages"></div>
                    <div class="icon active-score"><img src="/static/sign.svg" alt="Beverages"></div>
                    <div class="icon active-score"><img src="/static/sign.svg" alt="Beverages"></div>
                    <div class="icon active-score"><img src="/static/sign.svg" alt="Beverages"></div>
                    <div class="icon"><img src="/static/sign.svg" alt="Beverages"></div>
                    <div class="icon"><img src="/static/sign.svg" alt="Beverages"></div>
                  </div>
                  <div class="score">
                    <span class="type-score">Cafes Visits Records</span>
                  </div>
                </div>

                <div class="line-stroke">
                  <div class="beverages d-flex justify-content-center align-items-center">
                    <span class="point">{{point}} points</span>
                  </div>
                  <div class="score">
                    <span class="type-score">Cuppa Point</span>
                  </div>
                </div>
              </div>

              <div style="margin-top: 65px; text-align: center">
                <button
                  class="btn btn-primary"
                  action="/edit_profile_buyer"
                  role="button"
                  style="
                    background-color: #000000;
                    font-size: 18px;
                    padding: 6px 22px;
                    border-radius: 25px;
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                  "
                >
                  Edit Profile
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

{% endblock %}
