{% extends "layout.html" %} {% block title %} Point Redemption {% endblock %} {%
block main %}

<form action="/edit_profile_buyer" method="get" name="form">
  <div class="row">
    <div class="head-myprofile col-5">
      <h1 style="font-size: 48px; margin-bottom: 20px">my profile</h1>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-3">
          <div style="display: inline-block; text-align: center">
            <div>
              <img
                src="/static/profile/{{picture}}"
                class="strock rounded-circle mx-auto d-block image-profile"
                alt="Profile Picture"
                style="text-align: center"
              />
            </div>
            <div>
              <h2 style="font-size: 32px; text-align: center; margin-top: 20px">
                {{f}}
              </h2>
            </div>
            <div style="display: inline-block; text-align: left">
              <div><h4>DOB: {{d}}</h4></div>
              <div><h4>Age: {{age}}</h4></div>
              <div>
                <h4>Status: <span class="active">Active</span></h4>
              </div>
            </div>
          </div>

          <div style="padding-top: 20px; font-family: 'Timmana', sans-serif">
            <a class="menu-style" href="/profile"><h5 href="">My Profile</h5></a>
            <a class="menu-style" href="/profile_display_buyer_favorite"><h5>My Favorite</h5></a>
            <a class="menu-style" href="/profile_display_buyer_order"><h5>My Orders</h5></a>
            <a class="menu-style" href="/profile_display_buyer_teaHis"><h5>Beverages History</h5></a>
            <a class="menu-style" href="/profile_display_buyer_cafeHis"><h5>Cafes History</h5></a>
            <a class="menu-style" href="/profile_display_buyer_point"><h5>My Points</h5></a>
          </div>
        </div>

        <div class="col-9" style="margin-top: 10px">
          <div class="frame-line">
            
            <div>
              <h2 class="head-name" style="font-size: 48px">Point Redemption</h2>
            </div>
            <div  class="your-point" >Your point = 100 p </div>

            <div class="row">
              <div class="col-md-6 col-12 d-md-inline d-flex justify-content-center">
                <div class="main-position">
                  <img class="fav-img mt-5" src="static/tea-fav.jpeg" alt="">
                    <div style="text-align: left">
                      <div class="position-tag">
                        <div class="type-tag">
                          <span class="tag-name">100 p <br> 50 Baht discount</span>
                        </div>
                      </div>
                      <div class="position-icon">
                        <img class="icon-tag" src="static/coffee.svg" alt="">
                      </div>
                    </div>
                </div>
              </div>
              <div class="col-md-6 col-12 d-md-inline d-flex justify-content-center">
                <div class="main-position">
                  <img class="fav-img mt-5" src="static/tea-fav.jpeg" alt="">
                    <div style="text-align: left">
                      <div class="position-tag">
                        <div class="type-tag">
                          <span class="tag-name">200 p <br> 100 Baht discount</span>
                        </div>
                      </div>
                      <div class="position-icon">
                        <img class="icon-tag" src="static/coffee.svg" alt="">
                      </div>
                    </div>
                </div>
              </div>
              <div class="col-md-6 col-12 d-md-inline d-flex justify-content-center">
                <div class="main-position">
                  <img class="fav-img mt-5" src="static/tea-fav.jpeg" alt="">
                    <div style="text-align: left">
                      <div class="position-tag">
                        <div class="type-tag">
                          <span class="tag-name">300 p <br> 150 Baht discount</span>
                        </div>
                      </div>
                      <div class="position-icon">
                        <img class="icon-tag" src="static/coffee.svg" alt="">
                      </div>
                    </div>
                </div>
              </div>
              <div class="col-md-6 col-12 d-md-inline d-flex justify-content-center">
                <div class="main-position">
                  <img class="fav-img mt-5" src="static/tea-fav.jpeg" alt="">
                    <div style="text-align: left">
                      <div class="position-tag">
                        <div class="type-tag">
                          <span class="tag-name">400 p <br> 200 Baht discount</span>
                        </div>
                      </div>
                      <div class="position-icon">
                        <img class="icon-tag" src="static/coffee.svg" alt="">
                      </div>
                    </div>
                </div>
              </div>
          </div>

          <div style="margin-top: 15px;margin-bottom: 15px; text-align: center">
            <button
              class="btn btn-primary"
              action="/profile_display_buyer_point"
              role="button"
              style="
                background-color: #000000;
                font-size: 18px;
                padding: 6px 22px;
                border-radius: 25px;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
              "
            >
              Back
            </button>

        </div>
      </div>
    </div>
  </div>
</form>

{% endblock %}
