{% extends "layout.html" %}

{% block title %}
Seller Point
{% endblock %}

{% block main %}

  
<script language=Javascript>

let bev = JSON.parse('{{bev|tojson}}');
var no = bev.length;
console.log(bev)
var no = 1;

// function cal() {
// 	var f = document.menu;
	
// 	return false;
// }

function hide() {
	document.getElementById("tr1").style.display = "none";
  document.getElementById("tr2").style.display = "block";
  document.getElementById("prod_name").value = "";
  document.getElementById("desc").value = "";
  document.getElementById("price").value = "";
  document.getElementById("point").value = "";
  return false;
}
function show() {
	document.getElementById("tr1").style.display = "block";
  document.getElementById("tr2").style.display = "none";
  document.getElementById("menu1").value = "none";
  return false;
}


</script>

<form action="/profile_display_seller_add_product"  name="form" method = "POST" enctype="multipart/form-data">
    <div class="row">
      <div class="head-myprofile">
        <h1 style="font-size: 3vw; margin-bottom: 20px">my information</h1>
      </div>
  
      <div class="container">
        <div class="row">
          <div class="col-3">
            <div style="display: inline-block; text-align: center">
              <div>
                <img
                  src="/static/profile/{{picture}}"
                  class="strock rounded-circle mx-auto d-block image-profile"
                  alt="Profile Picture"
                  style="text-align: center"
                  width="150"
                height="150"
                />
              </div>
              <div>
                <h2 style="font-size: 2vw; text-align: center; margin-top: 20px">
                  {{name}}
                </h2>
              </div>
              <div style="display: inline-block; text-align: left">
                <div><h4>Bangkok</h4></div>
                <div>
                  <h4>Status: <span class="active">Active</span></h4>
                </div>
              </div>
            
  
            <div style="padding-top: 20px; font-family: 'Timmana', sans-serif; text-align: right; border-top: 3px solid #486648;">
              <a class="menu-style" href="/profile"><h5 href="">My Information</h5></a>
            <a class="menu-style" href="/profile_display_seller_order"><h5>My Orders</h5></a>
            <a class="menu-style" href="/profile_display_seller_product"><h5>My products</h5></a>
            <a class="menu-style" href="/seller_point"><h5>Points</h5></a>
            </div>
          </div>
        </div>
      
  
          <div class="col-9" style="margin-top: 30px">
            <div class="frame-line">
              <div>
                <h2 class="head-name" style="font-size: 48px">Add product</h2>
              </div>

                <form name="menu" enctype="multipart/form-data">
                  <br><br>
                  <h2>Select mode</h2>
                            <button class="btn btn-primary" 
                              style="background-color: #486648; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;" 
                               onclick="return show();">Add menu</button> 
                            <button class="btn btn-primary" 
                              style="background-color: #486648; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;" 
                               onclick="return hide();">Delete menu</button></p>
                    
                                  <span id="tr1" style="display:block">
                                    <table class="table" width="100%">
                                      <thead>
                                        <tr>
                                          <th width="25%" height="60" style="font-size: 20px;"><strong>Product name</strong></th>
                            <th width="25%" height="60" style="font-size: 20px;"><strong>type</strong></th>
                            <th width="25%" height="60" style="font-size: 20px;"><strong>Description</strong></th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <td >
                                              <!-- <label for="beverages">Choose beverage</label> -->
                                              <input type="text" id="prod_name" name="prod_name">

                                               
                                          </td>
                                          <td>
                                            <div class="form-check-inline">
                                            <div class="form-check">
                                              <label class="form-check-label" for="radio1">
                                                <input type="radio" class="form-check-input" id="type" name="type" value=1 checked>tea
                                              </label>
                                            </div>
                                          </div>
                                            <div class="form-check-inline">
                                            <div class="form-check">
                                              <label class="form-check-label" for="radio2">
                                                <input type="radio" class="form-check-input" id="type" name="type" value=0>coffee
                                              </label>
                                            </div>
                                          </div>
                                          </td>
                                          <td>
                                            <input type="text" id="desc" name="desc">
                                          </td>
                                      </tbody>
                                   </table>
                                   <table class="table">
                                     <thead>
                                       <tr>
                                        <th width="25%" height="60" style="font-size: 20px;"><strong>Price</strong></th>
                                        <th width="25%" height="60" style="font-size: 20px;"><strong>Points</strong></th>
                                        <th width="25%" height="60" style="font-size: 20px;"><strong>Image</strong></th>
                                       </tr>
                                     </thead>
                                     <tbody>
                                      <td>
                                          
                                        <input type="text" id="price" name="price">

                                      </td>
                                      <td>
                                       
                                      <input type="text" id="point" name="point">
                                      </td>
                                      <td>
                                          <input type="file" name="file"  enctype />
                                        </td>
                                     </tbody>

                                   </table>
                                   
                          </span>
                    
                                  <span id="tr2" style="display:none">
                                    <table width="100%">
                                      <tbody>
                                        <tr>
                                          <th width="25%" height="60" style="font-size: 20px;"><strong>Product name</strong></th>
                                        </tr>
                                        <tr>
                                          <td width="50%" >
                                              <!-- <label for="beverages">Choose beverage</label> -->
                                                <select class="menu-option" name="menu1" id="menu1" onclick="cal();" onchange="cal();">
                                                  <option value="none" selected disabled hidden>Select an Option</option>
                                                  <optgroup label="Coffee">
                                                    {% for i in bev %}
                                                      {%if i[1] == 0%}
                                                    <option value="{{i[0]}}">{{i[0]}}</option>
                                                      {%endif%}
                                                    <!-- <option value="Ice Latte">Ice Latte</option>
                                                    <option value="Hot Latte">Hot Latte</option> -->
                                                    {% endfor %}
                                                  </optgroup>
                                                  <optgroup label="Tea">
                                                    {% for i in bev %}
                                                    {%if i[1] == 1%}
                                                    <option value="{{i[0]}}">{{i[0]}}</option>
                                                      {%endif%}
                                                    {%endfor%}
                                                  </optgroup>
                                                </select>
                                          </td>
                                        </tr>
                                      </tbody>
                                   </table>
                            </span>
                                  <br><br>

                            
                    <div style="margin-bottom: 10px; text-align: center">
                      <button
                        class="btn btn-primary"
                        action="/profile_display_seller_add_product"
                        role="button"
                        style="
                          background-color: #000000;
                          font-size: 18px;
                          padding: 6px 22px;
                          border-radius: 25px;
                          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                        "
                      >
                        Confirm
                      </button>
                    </div>
                  </form>
                
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  
{% endblock %}