{% extends "layout.html" %} {% block title %} My favorite {% endblock %} {%
block main %}

<form action="/edit_profile_buyer" method="get" name="form">
  <div class="row">
    <div class="head-myprofile col-lg-5">
      <h1>my profile</h1>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div style="display: inline-block; text-align: center">
            <div>
              <img
                src="/static/profile/{{picture}}"
                class="strock rounded-circle mx-auto d-block image-profile"
                alt="Profile Picture"
                style="text-align: center"
                width="150"
                height="150"
              />
            </div>
            <div>
              <h2 style="font-size: 32px; text-align: center; margin-top: 20px">
                {{f}}
              </h2>
            </div>
            <div style="display: inline-block; text-align: left">
              <div><h4>DOB: {{d}}</h4></div>
              <div><h4>Age: {{age}}</h4></div>
              <div>
                <h4>Status: <span class="active">Active</span></h4>
              </div>
            </div>
          </div>

          <div style="padding-top: 20px; font-family: 'Timmana', sans-serif">
            <a class="menu-style" href="/profile"><h5 href="">My Profile</h5></a>
            <a class="menu-style" href="#"><h5>My Favorite</h5></a>
            <a class="menu-style" href="/profile_display_buyer_order"><h5>My Orders</h5></a>
            <a class="menu-style" href="/profile_display_buyer_teaHis"><h5>Beverages History</h5></a>
            <a class="menu-style" href="/profile_display_buyer_cafeHis"><h5>Cafes History</h5></a>
            <a class="menu-style" href="/profile_display_buyer_point"><h5>My Points</h5></a>
          </div>
        </div>

        <div class="col-lg-9" style="margin-top: 30px">
          <div class="frame-line">
            <div>
              <h2 class="head-name">My favorites</h2>
            </div>
            
            <div class="row">
              <div class="col-md-6 col-12 d-md-inline d-flex justify-content-center">
                <div class="main-position">
                  <img class="fav-img mt-5" src="static/tea-fav.jpeg" alt="">
                    <div style="text-align: left">
                      <div class="position-tag">
                        <div class="type-tag">
                          <span class="tag-name">Tea <br> Lorem ipsum</span>
                        </div>
                      </div>
                      <div class="position-icon">
                        <img class="icon-tag" src="static/coffee.svg" alt="">
                      </div>
                    </div>
                </div>
              </div>
              <div class="col-md-6 col-12 d-md-inline d-flex justify-content-center">
                <div class="main-position">
                  <img class="fav-img mt-5" src="static/tea-fav.jpeg" alt="">
                    <div style="text-align: left">
                      <div class="position-tag">
                        <div class="type-tag">
                          <span class="tag-name">Tea <br> Lorem ipsum</span>
                        </div>
                      </div>
                      <div class="position-icon">
                        <img class="icon-tag" src="static/coffee.svg" alt="">
                      </div>
                    </div>
                </div>
              </div>
              <div class="col-md-6 col-12 d-md-inline d-flex justify-content-center">
                <div class="main-position">
                  <img class="fav-img mt-5" src="static/tea-fav.jpeg" alt="">
                    <div style="text-align: left">
                      <div class="position-tag">
                        <div class="type-tag">
                          <span class="tag-name">Tea <br> Lorem ipsum</span>
                        </div>
                      </div>
                      <div class="position-icon">
                        <img class="icon-tag" src="static/coffee.svg" alt="">
                      </div>
                    </div>
                </div>
              </div>
            </div>
            
            
            
            
        </div>
      </div>
    </div>
  </div>
</form>

{% endblock %}
