{% extends "layout.html" %} {% block title %} Seller Profile {% endblock %} {%
block main %}

<form action="/edit_profile_seller" method="get" name="form">
  <div class="row">
    <div class="head-myprofile">
      <h1 style="font-size: 3vw; margin-bottom: 20px">my information</h1>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-3">
          <div style="display: inline-block; text-align: center">
            <div>
              <img
                src="/static/profile/{{picture}}"
                class="strock rounded-circle mx-auto d-block image-profile"
                alt="Profile Picture"
                style="text-align: center"
              />
            </div>
            <div>
              <h2 style="font-size: 2vw; text-align: center; margin-top: 20px">
                {{name}}
              </h2>
            </div>
            <div style="display: inline-block; text-align: left">
              <div><h4>Bangkok</h4></div>
              <div>
                <h4>Status: <span class="active">Active</span></h4>
              </div>
            </div>
          </div>

          <div style="padding-top: 20px; font-family: 'Timmana', sans-serif">
            <a class="menu-style" href="#"><h5 href="">My Information</h5></a>
            <a class="menu-style" href="/profile_display_seller_order"><h5>My Orders</h5></a>
            <a class="menu-style" href="/profile_display_seller_product"><h5>My products</h5></a>
            <a class="menu-style" href="/seller_point"><h5>Points</h5></a>
          </div>
        </div>

        <div class="col-9" style="margin-top: 30px">
          <div class="frame-line">
            <div>
              <h2 class="head-name" style="font-size: 48px">{{name}}</h2>
            </div>
            <div style="text-align: left">
              <div class="mb-content">
                <div><p class="mb-details">Email address: {{mail}}</p></div>
                <div><p class="mb-details">Address:{{address}}</p></div>
                <div><p class="mb-details">Country: Thailand</p></div>
                <div>
                  <p class="mb-details">
                    Description: <span class="tag"> {{desc}} </span>
                  </p>
                </div>
              </div>

              <div class="d-flex">

                <div class="line-stroke">
                  <div class="beverages d-flex justify-content-center align-items-center">
                    <div class="icon active-score"><img src="/static/coffee.svg" alt="Beverages"></div>
                    <div class="icon active-score"><img src="/static/coffee.svg" alt="Beverages"></div>
                    <div class="icon active-score"><img src="/static/coffee.svg" alt="Beverages"></div>
                    <div class="icon"><img src="/static/coffee.svg" alt="Beverages"></div>
                    <div class="icon"><img src="/static/coffee.svg" alt="Beverages"></div>
                    <div class="icon"><img src="/static/coffee.svg" alt="Beverages"></div>
                  </div>
                  <div class="score">
                    <span class="type-score">Beverages Scores</span>
                  </div>
                </div>
                
                <div class="line-stroke">
                  <div class="beverages d-flex justify-content-center align-items-center">
                    <div class="icon active-score"><img src="/static/sign.svg" alt="Beverages"></div>
                    <div class="icon active-score"><img src="/static/sign.svg" alt="Beverages"></div>
                    <div class="icon active-score"><img src="/static/sign.svg" alt="Beverages"></div>
                    <div class="icon active-score"><img src="/static/sign.svg" alt="Beverages"></div>
                    <div class="icon"><img src="/static/sign.svg" alt="Beverages"></div>
                    <div class="icon"><img src="/static/sign.svg" alt="Beverages"></div>
                  </div>
                  <div class="score">
                    <span class="type-score">Buyer Records</span>
                  </div>
                </div>

                <div class="line-stroke">
                  <div class="beverages d-flex justify-content-center align-items-center">
                    <div class="icon active-score"><img src="/static/star.svg" alt="Beverages"></div>
                    <div class="icon active-score"><img src="/static/star.svg" alt="Beverages"></div>
                    <div class="icon active-score"><img src="/static/star.svg" alt="Beverages"></div>
                    <div class="icon active-score"><img src="/static/star.svg" alt="Beverages"></div>
                    <div class="icon"><img src="/static/star.svg" alt="Beverages"></div>
                  </div>
                  <div class="score">
                    <span class="type-score">Cuppa Point</span>
                  </div>
                </div>
              </div>

              <div style="margin-top: 50px; text-align: center">
                <button
                  class="btn btn-primary"
                  action="/edit_profile_buyer"
                  role="button"
                  style="
                    background-color: #000000;
                    font-size: 18px;
                    border-radius: 25px;
                  "
                >
                  Edit Information
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

{% endblock %}
