{% extends "layout.html" %}

{% block title %}
Buyer Profile
{% endblock %}

{% block main %}

<form action="/login_buyer" method="post" name="form" onsubmit="return validate()">
    <div class="row">
        <div class="col-6"><img src="src" class="rounded mx-auto d-block" alt="Profile Picture"></div>
        <div class="col-6"><h1>username</h1><h2>email</h2></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input autocomplete="off" autofocus class="form-control" name="name" placeholder="Name" type="text">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="surname">Surname:</label>
                    <input class="form-control" name="surname" placeholder="Surname" type="text">
                </div>
            </div>
        </div>
    </div>
    
<label for="date">Date of birth</label>
<input name="date" type = "date">
</P>
<label for="occupation">Occupation</label>
<input class="form-control" name="occupation" placeholder="Student" type="text">
<label for="favorite">Favorite</label>
<input class="form-control" name="favorite" placeholder="Coffee or tea" type="text">
<label for="sickness">Sickness</label>
<input class="form-control" name="sickness" placeholder="Diabeties" type="text">
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">Description</span>
    </div>
    <textarea class="form-control" aria-label="With textarea"></textarea>
    </div>
</form>

<button class="btn btn-primary" href="profile_display_buyer.html" role="button"  style="background-color: #000000">BACK</button>
<button class="btn btn-primary" type="submit"  style="background-color: #000000">SAVE</button>


{% endblock %}