{% extends "layout.html" %} {% block title %} Buyer favorite {% endblock %} {%
block main %}

<form action="/edit_profile_buyer" method="get" name="form">
  <div class="row">
    <div class="head-myprofile col-5">
      <h1 style="font-size: 48px; margin-bottom: 20px">my profile</h1>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-3">
          <div style="display: inline-block; text-align: center">
            <div>
              <img
                src="\static\Logo.png"
                class="strock rounded-circle mx-auto d-block image-profile"
                alt="Profile Picture"
                style="text-align: center"
              />
            </div>
            <div>
              <h2 style="font-size: 32px; text-align: center; margin-top: 20px">
                {{f}} {{l}}
              </h2>
            </div>
            <div style="display: inline-block; text-align: left">
              <div><h4>DOB: {{d}}</h4></div>
              <div><h4>Age: {{age}}</h4></div>
              <div>
                <h4>Status: <span class="active">Active</span></h4>
              </div>
            </div>
          </div>

          <div style="padding-top: 20px; font-family: 'Timmana', sans-serif">
            <div><h5 href="">My Profile</h5></div>
            <div><h5 href="">My Favorite</h5></div>
            <div><h5 href="">My Orders</h5></div>
            <div><h5 href="">Beverages History</h5></div>
            <div><h5 href="">Cafes History</h5></div>
            <div><h5 href="">Grabs</h5></div>
          </div>
        </div>

        <div class="col-9" style="margin-top: 30px">
          <div class="frame-line">
            <div>
              <h2 class="head-name" style="font-size: 48px">My favorites</h2>
            </div>
            
            <div>
              <div class="menu-img">
                <img src="/static/greentea.jpg" alt="">
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</form>

{% endblock %}
