{% extends "layout.html" %}

{% block title %}
Seller Point
{% endblock %}

{% block main %}

  
<script language=Javascript>

var no = 1;

function cal() {
	var f = document.menu;
	
	return false;
}

function hide() {
	document.getElementById("tr"+no).style.display = "none";
  document.getElementById("menu"+no).value = "none"
  
	no = (no<=1)?0:no-1;
  console.log(no)
	return false;
}
function show() {
	no = (no>=10)?10:no+1;
	document.getElementById("tr"+no).style.display = "block";
  document.getElementById("menu"+no).value = "none"
  
	return false;
}


function reset_form() {
	
	document.getElementById("menu1").value = "none"
  document.getElementById("menu2").value = "none"
  document.getElementById("menu3").value = "none"
  document.getElementById("menu4").value = "none"
  document.getElementById("menu5").value = "none"
  document.getElementById("menu6").value = "none"
  document.getElementById("menu7").value = "none"
  document.getElementById("menu8").value = "none"
  document.getElementById("menu9").value = "none"
  document.getElementById("menu10").value = "none"
  document.getElementById("level1").value = "none"
	
}
reset_form();
</script>

<form action="/seller_point" onsubmit="return showdata()" name="form" method = "POST">
    <div class="row">
      <div class="head-myprofile">
        <h1 style="font-size: 3vw; margin-bottom: 20px">my information</h1>
      </div>
  
      <div class="container">
        <div class="row">
          <div class="col-3">
            <div style="display: inline-block; text-align: center">
              <div>
                <img
                  src="/static/profile/{{picture}}"
                  class="strock rounded-circle mx-auto d-block image-profile"
                  alt="Profile Picture"
                  style="text-align: center"
                  width="150"
                  height="150"
                />
              </div>
              <div>
                <h2 style="font-size: 2vw; text-align: center; margin-top: 20px">
                  {{name}}
                </h2>
              </div>
              <div style="display: inline-block; text-align: left">
                <div><h4>Bangkok</h4></div>
                <div>
                  <h4>Status: <span class="active">Active</span></h4>
                </div>
              </div>
            
           
            <div style="padding-top: 20px; font-family: 'Timmana', sans-serif; text-align: right; border-top: 3px solid #486648;">
              <a class="menu-style" href="/profile"><h5 href="">My Information</h5></a>
            <a class="menu-style" href="/profile_display_seller_order"><h5>My Orders</h5></a>
            <a class="menu-style" href="/profile_display_seller_product"><h5>My products</h5></a>
            <a class="menu-style" href="#"><h5>Points</h5></a>
            </div>
          </div>
        </div>
      
 
  
          <div class="col-9" style="margin-top: 30px">
            <div class="frame-line">
              <div>
                <h2 class="head-name" style="font-size: 48px">Points</h2>
              </div>

                <form name="menu">
                    <table width="100%">
                        <tbody>
                            <tr>
                            <th width="25%" height="60" style="font-size: 20px;"><strong>Menu</strong></th>
                            </tr>
                        </tbody>
                        </table>         
                                  <span id="tr1" style="display:block">
                                    <table width="100%">
                                      <tbody>
                                        <tr>
                                          <td width="50%" >
                                              <!-- <label for="beverages">Choose beverage</label> -->
                                                <select class="menu-option" name="menu1" id="menu1" onclick="cal();" onchange="cal();">
                                                  <option value="none" selected disabled hidden>Select an Option</option>
                                                  <optgroup label="Coffee">
                                                    {% for i in bev %}
                                                      {%if i[1] == 0%}
                                                    <option value={{i[6]}}>{{i[0]}}</option>
                                                      {%endif%}                            
                                                    {% endfor %}
                                                  </optgroup>
                                                  <optgroup label="Tea">
                                                    {% for i in bev %}
                                                    {%if i[1] == 1%}
                                                    <option value={{i[6]}}>{{i[0]}}</option>
                                                      {%endif%}
                                                    {%endfor%}
                                                  </optgroup>
                                                </select>
                                                <!-- <label for="sweetlevel">Sweet level</label> -->
                                                <!-- <select class="level-sweet" name="level1" id="level1" onclick="cal();" onchange="cal();">
                                                  <option value="none" selected disabled hidden>Sweet</option>
                                                    <option value="100">100%</option>
                                                    <option value="75">75%</option>
                                                    <option value="50">50%</option>
                                                    <option value="25">25%</option>
                                                    <option value="0">No sweet</option>
                                                </select> -->
                                          </td>
                                        </tr>
                                      </tbody>
                                   </table>
                                       
                          </span>
                                  
                                  <span id="tr2" style="display:none">
                                    <table width="100%">
                                      <tbody>
                                        <tr>
                                          <td width="50%" >
                                              <!-- <label for="beverages">Choose beverage</label> -->
                                                <select class="menu-option" name="menu2" id="menu2" onclick="cal();" onchange="cal();">
                                                  <option value="none" selected disabled hidden>Select an Option</option>
                                                  <optgroup label="Coffee">
                                                    {% for i in bev %}
                                                      {%if i[1] == 0%}
                                                    <option value={{i[6]}}>{{i[0]}}</option>
                                                      {%endif%}                            
                                                    {% endfor %}
                                                  </optgroup>
                                                  <optgroup label="Tea">
                                                    {% for i in bev %}
                                                    {%if i[1] == 1%}
                                                    <option value={{i[6]}}>{{i[0]}}</option>
                                                      {%endif%}
                                                    {%endfor%}
                                                  </optgroup>
                                                </select>
                                                <!-- <label for="sweetlevel">Sweet level</label> -->
                                                
                                          </td>
                                        </tr>
                                      </tbody>
                                   </table>
                          </span>
                                  
                                  <span id="tr3" style="display:none">
                                    <table width="100%">
                                      <tbody>
                                        <tr>
                                          <td width="50%" >
                                              <!-- <label for="beverages">Choose beverage</label> -->
                                                <select class="menu-option" name="menu3" id="menu3" onclick="cal();" onchange="cal();">
                                                  <option value="none" selected disabled hidden>Select an Option</option>
                                                  <optgroup label="Coffee">
                                                    {% for i in bev %}
                                                      {%if i[1] == 0%}
                                                    <option value="{{i[6]}}">{{i[0]}}</option>
                                                      {%endif%}                            
                                                    {% endfor %}
                                                  </optgroup>
                                                  <optgroup label="Tea">
                                                    {% for i in bev %}
                                                    {%if i[1] == 1%}
                                                    <option value="{{i[6]}}">{{i[0]}}</option>
                                                      {%endif%}
                                                    {%endfor%}
                                                  </optgroup>
                                                </select>
                                                <!-- <label for="sweetlevel">Sweet level</label> -->
                                                
                                          </td>
                                        </tr>
                                      </tbody>
                                   </table>
                          </span>
                                  
                                  <span id="tr4" style="display:none">
                                    <table width="100%">
                                      <tbody>
                                        <tr>
                                          <td width="50%" >
                                              <!-- <label for="beverages">Choose beverage</label> -->
                                                <select class="menu-option" name="menu4" id="menu4" onclick="cal();" onchange="cal();">
                                                  <option value="none" selected disabled hidden>Select an Option</option>
                                                  <optgroup label="Coffee">
                                                    {% for i in bev %}
                                                      {%if i[1] == 0%}
                                                    <option value="{{i[6]}}">{{i[0]}}</option>
                                                      {%endif%}                            
                                                    {% endfor %}
                                                  </optgroup>
                                                  <optgroup label="Tea">
                                                    {% for i in bev %}
                                                    {%if i[1] == 1%}
                                                    <option value="{{i[6]}}">{{i[0]}}</option>
                                                      {%endif%}
                                                    {%endfor%}
                                                  </optgroup>
                                                </select>
                                                <!-- <label for="sweetlevel">Sweet level</label> -->
                                               
                                          </td>
                                        </tr>
                                      </tbody>
                                   </table>
                          </span>
                          
                                  <span id="tr5" style="display:none">
                                    <table width="100%">
                                      <tbody>
                                        <tr>
                                          <td width="50%" >
                                              <!-- <label for="beverages">Choose beverage</label> -->
                                                <select class="menu-option" name="menu5" id="menu5" onclick="cal();" onchange="cal();">
                                                  <option value="none" selected disabled hidden>Select an Option</option>
                                                  <optgroup label="Coffee">
                                                    {% for i in bev %}
                                                      {%if i[1] == 0%}
                                                    <option value="{{i[6]}}">{{i[0]}}</option>
                                                      {%endif%}                            
                                                    {% endfor %}
                                                  </optgroup>
                                                  <optgroup label="Tea">
                                                    {% for i in bev %}
                                                    {%if i[1] == 1%}
                                                    <option value="{{i[6]}}">{{i[0]}}</option>
                                                      {%endif%}
                                                    {%endfor%}
                                                  </optgroup>
                                                
                                          </td>
                                        </tr>
                                      </tbody>
                                   </table>
                          </span>
                          
                                  <span id="tr6" style="display:none">
                                    <table width="100%">
                                      <tbody>
                                        <tr >
                                          <td width="50%" >
                                              <!-- <label for="beverages">Choose beverage</label> -->
                                                <select class="menu-option" name="menu6" id="menu6" onclick="cal();" onchange="cal();">
                                                  <option value="none" selected disabled hidden>Select an Option</option>
                                                  <optgroup label="Coffee">
                                                    {% for i in bev %}
                                                      {%if i[1] == 0%}
                                                    <option value="{{i[6]}}">{{i[0]}}</option>
                                                      {%endif%}                            
                                                    {% endfor %}
                                                  </optgroup>
                                                  <optgroup label="Tea">
                                                    {% for i in bev %}
                                                    {%if i[1] == 1%}
                                                    <option value="{{i[6]}}">{{i[0]}}</option>
                                                      {%endif%}
                                                    {%endfor%}
                                                  </optgroup>
                                                </select>
                                                <!-- <label for="sweetlevel">Sweet level</label> -->
                                                
                                          </td>
                                        </tr>
                                      </tbody>
                                   </table>
                          </span>
                          
                                  <span id="tr7" style="display:none">
                                    <table width="100%">
                                      <tbody>
                                        <tr >
                                          <td width="50%" >
                                              <!-- <label for="beverages">Choose beverage</label> -->
                                                <select class="menu-option" name="menu7" id="menu7" onclick="cal();" onchange="cal();">
                                                  <option value="none" selected disabled hidden>Select an Option</option>
                                                  <optgroup label="Coffee">
                                                    {% for i in bev %}
                                                    {%if i[1] == 0%}
                                                  <option value="{{i[6]}}">{{i[0]}}</option>
                                                    {%endif%}                            
                                                  {% endfor %}
                                                </optgroup>
                                                <optgroup label="Tea">
                                                  {% for i in bev %}
                                                  {%if i[1] == 1%}
                                                  <option value="{{i[6]}}">{{i[0]}}</option>
                                                    {%endif%}
                                                  {%endfor%}
                                                  </optgroup>
                                                </select>
                                                <!-- <label for="sweetlevel">Sweet level</label> -->
                                                
                                          </td>
                                        </tr>
                                      </tbody>
                                   </table>
                          </span>
                          
                                  <span id="tr8" style="display:none">
                                    <table width="100%">
                                      <tbody>
                                        <tr>
                                          <td width="50%"  >
                                              <!-- <label for="beverages">Choose beverage</label> -->
                                                <select class="menu-option" name="menu8" id="menu8" onclick="cal();" onchange="cal();">
                                                  <option value="none" selected disabled hidden>Select an Option</option>
                                                  <optgroup label="Coffee">
                                                    {% for i in bev %}
                                                    {%if i[1] == 0%}
                                                  <option value="{{i[6]}}">{{i[0]}}</option>
                                                    {%endif%}                            
                                                  {% endfor %}
                                                </optgroup>
                                                <optgroup label="Tea">
                                                  {% for i in bev %}
                                                  {%if i[1] == 1%}
                                                  <option value="{{i[6]}}">{{i[0]}}</option>
                                                    {%endif%}
                                                  {%endfor%}
                                                  </optgroup>
                                                </select>
                                                <!-- <label for="sweetlevel">Sweet level</label> -->
                                               
                                          </td>
                                        </tr>
                                      </tbody>
                                   </table>
                          </span>
                          
                                  <span id="tr9" style="display:none">
                                    <table width="100%">
                                      <tbody>
                                        <tr >
                                          <td width="50%" >
                                              <!-- <label for="beverages">Choose beverage</label> -->
                                                <select class="menu-option" name="menu9" id="menu9" onclick="cal();" onchange="cal();">
                                                  <option value="none" selected disabled hidden>Select an Option</option>
                                                  <optgroup label="Coffee">
                                                    {% for i in bev %}
                                                    {%if i[1] == 0%}
                                                  <option value="{{i[6]}}">{{i[0]}}</option>
                                                    {%endif%}                            
                                                  {% endfor %}
                                                </optgroup>
                                                <optgroup label="Tea">
                                                  {% for i in bev %}
                                                  {%if i[1] == 1%}
                                                  <option value="{{i[6]}}">{{i[0]}}</option>
                                                    {%endif%}
                                                  {%endfor%}
                                                  </optgroup>
                                                </select>
                                                <!-- <label for="sweetlevel">Sweet level</label> -->
                                                
                                          </td>
                                        </tr>
                                      </tbody>
                                   </table>
                          </span>
                          
                                  <span id="tr10" style="display:none">
                                    <table width="100%">
                                      <tbody>
                                        <tr >
                                          <td width="50%">
                                              <!-- <label for="beverages">Choose beverage</label> -->
                                                <select class="menu-option" name="menu10" id="menu10" onclick="cal();" onchange="cal();">
                                                  <option value="none" selected disabled hidden>Select an Option</option>
                                                  <optgroup label="Coffee">
                                                    {% for i in bev %}
                                                      {%if i[1] == 0%}
                                                    <option value="{{i[6]}}">{{i[0]}}</option>
                                                      {%endif%}                            
                                                    {% endfor %}
                                                  </optgroup>
                                                  <optgroup label="Tea">
                                                    {% for i in bev %}
                                                    {%if i[1] == 1%}
                                                    <option value="{{i[6]}}">{{i[0]}}</option>
                                                      {%endif%}
                                                    {%endfor%}
                                                  </optgroup>
                                                </select>
                                               
                                          </td>
                                        </tr>
                                      </tbody>
                                   </table>
                          </span>

                            <p></p>
                            <button class="btn btn-primary" 
                              style="background-color: #486648; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;" 
                              href="#" onclick="return show();">Add menu</button> 
                            <button class="btn btn-primary" 
                              style="background-color: #486648; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;" 
                              href="#" onclick="return hide();">Delete menu</button></p>
                    
                              <table width="100%">
                                <thead>
                                  <tr>
                                   <th width="25%" height="60" style="font-size: 20px;"><strong>Redemption</strong></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>
                                 <select class="level-sweet" name="level1" id="level1" onclick="cal();" onchange="cal();">
                                   <option value="0" selected>Point redemption</option>
                                     <option value="1">100 points : 50 Baht discount</option>
                                     <option value="2">200 points : 100 Baht discount</option>
                                     <option value="3">300 points : 150 Baht discount</option>
                                     <option value="4">400 points : 200 Baht discount</option>
                                 </td>
                               </tr>
                                 </select>
                                </tbody>
                               </table>

                              <br><br>
                    <!-- <input type="submit" value="Get QR code" > -->
                    <div style="margin-bottom: 10px; text-align: center">
                      <button
                        class="btn btn-primary"
                        action="/qr_seller"
                        role="button"
                        style="
                          background-color: #000000;
                          font-size: 18px;
                          padding: 6px 22px;
                          border-radius: 25px;
                          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                        "
                      >
                        Get QR code
                      </button>
                    </div>
                  </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  
{% endblock %}